@import "./../themes/Zulma/sass/_vendor/flatly/variables";
@import "./../themes/Zulma/sass/_vendor/bulma-0.7.4/_bulma.sass";
@import "./../themes/Zulma/sass/_vendor/flatly/overrides";

@import "./../themes/Zulma/sass/zulma";
@import "./style-to";

.navbar {
	border-radius: 0;
}

aside.message {
	margin-top: 1rem;
}
