{% import "post_macros.html" as post_macros %}
{% import "index_macros.html" as index_macros %}

<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>
        {% block title %}{{ config.title }}{% endblock title %}
    </title>

    {{ index_macros::css() }}
	<link class="stylesheet" rel="stylesheet" href="{{ get_url(path="style.css", trailing_slash=false) }}" />

    {% if config.generate_rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml") | safe }}">
    {% endif %}

    {% if config.build_search_index %}
    <script defer type="text/javascript" src="{{ get_url(path="elasticlunr.min.js") }}"></script>
	<script defer type="text/javascript" src="{{ get_url(path="js/lunr-forked/lunr.stemmer.support.js", trailing_slash=false) | safe }}"></script>
	<script defer type="text/javascript" src="{{ get_url(path="js/lunr-forked/lunr." ~ lang ~ ".js", trailing_slash=false) | safe }}"></script>
	<script defer type="text/javascript" src="{{ get_url(path="search_index." ~ lang ~ ".js") }}"></script>
    {% endif %}

    {% block extra_head %}
    {% endblock extra_head %}

    <noscript>
        <style>
            .navbar-menu {
                display: block;
            }

            .js-only {
                display: none;
            }
        </style>
    </noscript>
    {% endblock head %}
</head>

<body class="has-navbar-fixed-top">
    {% block body%}
    {% block content %}
    <!-- START NAV -->
    {% block header %}
    {{ index_macros::navbar() }}
    {% endblock header %}
    <!-- END NAV -->
    <main class="index">
        <!-- START HERO TITLE -->
        {% if config.extra.zulma_title %}
        {{ index_macros::hero(title=config.extra.zulma_title, primary=true) }}
        {% endif %}
        <!-- END HERO TITLE -->
        <div class="container">
			{% if section.content %}
				<section class="articles">
				    <div class="columns is-desktop">
				        <div class="column is-10-desktop is-offset-1-desktop">
						    <div class="card article">
						        <div class="card-content">
						            {{ section.content | safe }}
						        </div>
						    </div>
				        </div>
				    </div>
				</section>
			{% endif %}
            <!-- START ARTICLE FEED -->
            {% if paginator %}
            {{ index_macros::list_articles(pages=paginator.pages) }}
            {% else %}
            {{ index_macros::list_articles(pages=section.pages) }}
            {% endif %}
            <!-- END ARTICLE FEED -->
            <!-- START PAGINATION -->
            {% if paginator %}
            {{ index_macros::paginate(paginator=paginator) }}
            {% endif %}
            <!-- END PAGINATION -->
        </div>
    </main>
    {% endblock content %}
    {% block footer %}
    {{ index_macros::footer() }}
    {% endblock footer %}

    <script type="text/javascript" src="{{ get_url(path="js/zulma_navbar.js") }}"></script>

    {% if config.build_search_index %}
    <script type="text/javascript" src="{{ get_url(path="js/zulma_search.js") }}"></script>
    {% endif %}

    {% endblock body%}
</body>

</html>