{% extends "index.html" %}
{% import "post_macros.html" as post_macros %}

{% block content %}
<!-- START NAV -->
{% block header %}
{{ super() }}
{% endblock header %}
<!-- END NAV -->
<main>
    <section class="container is-max-widescreen">
        <div class="columns is-desktop">
            <div class="column is-10-desktop is-offset-1-desktop">
                <article itemscope itemtype="http://schema.org/BlogPosting">
                    <div class="card article">
                        <div class="card-content">
                            {% if page is defined %}{{ post_macros::article_header(page = page) }}{% endif %}
                            <div itemprop="articleBody" class="content article-body">
								{% block page_content %}
                                {{ page.content | safe }}
								{% endblock page_content %}
                            </div>
                        </div>
                        {% block page_footer %}
                        {% if page is defined %}{{ post_macros::post_footer(page=page) }}{% endif %}
                        {% endblock page_footer %}
                    </div>
                </article>
            </div>
			{% block sidebar %}
			<div class="column is-2-desktop">
		        <aside class="message">
				<div class="message-body">
				{% block sidebar_toc %}
					{% if page is defined and page.toc %}
						<div class="menu">
					    {% for h1 in page.toc %}
					        <p class="menu-label">
					            <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
					        </p>
				            {% if h1.children %}
				                <ul class="menu-list">
				                    {% for h2 in h1.children %}
				                        <li>
			            				{% if h2.children %}
									        <p class="menu-label">
									            <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
									        </p>
				                			<ul>
			                    					{% for h3 in h2.children %}
													<li>
														<a href="{{ h3.permalink | safe }}">{{ h3.title }}</a>
													</li>
				                    				{% endfor %}
											</ul>
										{% else %}
				                            <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
										{% endif %}
				                        </li>
				                    {% endfor %}
				                </ul>
				            {% endif %}
					    {% endfor %}
						</div>
					{% endif %}
				{% endblock sidebar_toc %}
				</div>
				</aside>
			</div>
			{% endblock sidebar %}
        </div>
    </section>
</main>
{% endblock content %}