{% extends "Zulma/templates/page.html" %}

{% block page_content %}
Mhhh ... la page a été volé par un ninja?. <br /><br />
Regarde de <a href="/settings/">ce côté</a> pour en trouvé une autre?
{% endblock page_content %}

{% block sidebar %}
{% endblock sidebar %}
