{% extends "Zulma/templates/page.html" %}

{% block page_content %}

<div class="message">
	<div class="message-header">
		{{ page.extra.awam.title | safe }}
	</div>
	<div class="message-body">

		{% if page.extra.awam.discord_link %}
		<a href="{{ page.extra.awam.discord_link | safe }}">Annonce discord</a> <br />
		{% endif %}

		{% if page.extra.awam.author %}
		Auteur : {{ page.extra.awam.author | safe }} <br />
		{% endif %}

		{% if page.extra.awam.link %}
		<a class="tag is-warning is-light" href="{{ page.extra.awam.link | safe }}" target="settings">Lien du settings</a><br />
		{% endif %}

		{% if page.extra.awam.status %}
		<span class="tag is-success">{{ page.extra.awam.status | safe }}</span>
		{% endif %}

	</div>
</div>

	{{ page.content | safe }}
{% endblock page_content %}
